<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bookMapper">

<!-- 예약 전에 프로그램 정보 불러오기 -->
<select id="bookinfo" parameterType="int" resultType="bookVO">
select pg_bno, pg_name,pg_content pg_startdate,pg_enddate, pg_bstartdate, pg_benddate,pg_type from sae_program where pg_bno = #{pg_bno} 
</select>


<!-- 예약하기 -->
<insert id="book">
    <selectKey keyProperty="bk_bno" resultType="int" order="BEFORE">  
        select sae_book_seq.nextval FROM dual
    </selectKey>
    INSERT INTO SAE_BOOK(bk_bno, bk_pno, bk_inwon, bk_id, bk_pdate,bk_time, bk_name, bk_tel,bk_type) values(#{bk_bno}, #{bk_pno}, #{bk_inwon}, #{bk_id}, #{bk_pdate}, #{bk_time}, #{bk_name}, #{bk_tel},#{bk_type}) 
</insert>

<!-- 예약하기 -->
<!-- INSERT INTO SAE_BOOK(bk_bno, bk_pno, bk_inwon, bk_id, bk_date, bk_pdate, bk_name, bk_tel, bk_time, bk_type) values(sae_book_seq.nextval, (select ), #{bk_inwon}, #{bk_id}, #{bk_date}, #{bk_pdate}, #{bk_name}, #{bk_tel}, #{bk_time}, #{bk_type})
 -->

<!-- 예약 변경하기 -->
<update id="bookUpdate">
update sae_book set
bk_inwon=#{bk_inwon},
bk_pdate=#{bk_pdate},
bk_time=#{bk_time},
bk_name =#{bk_name},
bk_tel=#{bk_tel}
where bk_bno=#{bk_bno}
</update>

<!-- 예약취소하기(삭제) -->
<delete id="bookDelete" parameterType="int">
DELETE FROM SAE_BOOK
WHERE BK_BNO = #{bk_bno}
</delete>

<!-- 예약 조회 -->
<select id="bookread" parameterType="int" resultType="bookVO">
select bk_bno, bk_pno, bk_inwon, bk_id, bk_pdate,bk_time, bk_name, bk_tel,bk_type from sae_book where bk_bno = #{bk_bno}
</select>




 <!-- 예약목록 -->
<select id="booklist" resultType="bookVO" parameterType="bookVO">
select bk_bno, bk_pno,bk_name, bk_inwon, bk_pdate,bk_time, pg_name 
from sae_book join sae_program 
on bk_pno = pg_bno 
where bk_id = #{bk_id} 
and bk_type = #{bk_type}
</select> 


</mapper>