<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="buyMapper">

	<!-- 상품목록에서 구매하기를 눌렀을때 구매하기한 상품을 얻기 -->
	<select id="buylist" resultType="productVO">
		SELECT pd_bno
		, pd_name
		, pd_price
		, pd_stock
		, pd_date
		FROM sae_product
		WHERE
		pd_bno =
		#{pd_bno}
	</select>
	
	<!-- 구매테이블 입력 -->
	<insert id="buywrite">
		INSERT INTO sae_buy(
		by_bno,
		by_pno,
		by_name,
		by_count,
		by_id,
		by_price
		)
		VALUES(
		sae_buy_seq.nextval,
		#{by_pno},
		#{by_name},
		#{by_count},
		#{by_id},
		#{by_price}
		)
	</insert>
	
	<insert id="cartwrite">
		INSERT INTO sae_buy(
		by_bno,
		by_pno,
		by_name,
		by_count,
		by_id,
		by_price
		)
		VALUES(
		sae_buy_seq.nextval,
		#{by_pno},
		#{by_name},
		#{by_count},
		#{by_id},
		#{by_price}
		)
	</insert>
	
	<delete id="cartdelete">
		DELETE
		FROM sae_cart
		WHERE ct_id = #{ct_id}
	</delete>
	
	<!-- 사용자 구매 리스트 -->
	<select id="getlist" resultType="BuyVO" parameterType="com.kh.saeha.vo.SearchCriteria">
		SELECT 
		by_bno,
		by_pno,
		by_name,
		by_count,
		by_id,
		by_date,
		by_price
		FROM(
		SELECT
		by_bno,
		by_pno,
		by_name,
		by_count,
		by_id,
		by_date,
		by_price,
		ROW_NUMBER()
		OVER(ORDER BY by_date desc)
		AS RNUM
		FROM
		sae_buy
		WHERE 1=1
		)
		WHERE
		by_id = #{id}
		and (RNUM BETWEEN #{rowStart} AND #{rowEnd})
		order BY by_date desc
	</select>
	
	<select id="buylistCount" resultType="int">
		SELECT COUNT(by_bno)
		FROM sae_buy
		WHERE 1=1
		and by_id = #{userId}
	</select>
</mapper>