<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cartMapper">

	<!-- 카트 추가 -->
	<insert id="addcart">
		insert into sae_cart
		(
		ct_bno,
		ct_pno,
		ct_name,
		ct_id,
		ct_price,
		ct_count)
		values
		(
		sae_cart_seq.nextval,
		#{ct_pno},
		#{ct_name},
		#{ct_id},
		#{ct_price},
		#{ct_count}
		)
	</insert>
	
	<!-- 카트 리스트 -->
	<select id="cartlist" resultType="CartVO" parameterType="String">
		SELECT * FROM SAE_CART
		WHERE CT_ID = #{userId}
	</select>

	<!-- 카트 중복 체크 -->
	<select id="checkcart" parameterType="com.kh.saeha.vo.CartVO"
		resultType="java.lang.Integer">
		select nvl(count(*), 0)
		from sae_cart
		where ct_id = #{pd_id}
		and ct_pno = #{pd_bno}
	</select>

	<!-- 재고 수량 -->
	<select id="stock" parameterType="com.kh.saeha.vo.CartVO"
		resultType="java.lang.Integer">
		select pd_stock from sae_product
		where pd_bno = #{ct_pno}
	</select>
	
	<delete id="delete">
		DELETE
		FROM sae_cart
		WHERE ct_id = #{ct_id} 
		and ct_pno = #{ct_pno}
	</delete>
	
	<!-- 재고0인 장바구니 삭제 -->
	<delete id="nonstock">
		DELETE
		FROM sae_cart
		WHERE ct_pno = #{ct_pno} 
	</delete>
	


</mapper>