<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="likeMapper">
    
    <!-- 찜목록에 필요한 프로그램 정보 -->
    <select id="likelist" parameterType="String" resultType="likelistVO">
    	select 
    		  pg_bno
    		, pg_name
    		, pg_file
    		, pg_stock
    		, pg_startdate
    		, pg_enddate
    		, pg_bstartdate
    		, pg_benddate
    		, pg_type
    		, lk_id
    	from sae_like a 
    	inner join sae_program b 
    	on a.lk_pno = b.pg_bno 
    	where lk_id=#{userId} and lk_bno = 1
    </select>

    <!-- 찜하기 갯수(불필요시 삭제) -->
    <select id="likecount" resultType="Integer" parameterType="com.kh.saeha.vo.LikeVO">
		select count(lk_bno) from sae_like where lk_id=#{lk_id} and lk_pno=#{lk_pno}
	</select>

	<select id="likegetinfo" resultType="Integer" parameterType="com.kh.saeha.vo.LikeVO">
		select lk_bno from sae_like where lk_id=#{lk_id} and lk_pno=#{lk_pno}
	</select> <!-- select로 좋아요 눌렸는지 안 눌렸는지 정보 확인 후  -->
	
	<insert id="like" parameterType="com.kh.saeha.vo.LikeVO"><!-- 좋아요 비어있을 때 -->
		insert into sae_like(lk_id,lk_pno)
		values (#{lk_id},#{lk_pno})
	</insert>
	
	
	<update id="likeupdate" parameterType="com.kh.saeha.vo.LikeVO"><!-- 좋아요 채워져 있을 때 -->
		update sae_like
		set <include refid="cal"></include>
		where lk_id=#{lk_id} and lk_pno=#{lk_pno}
	</update>
	
	<sql id="cal">
		<if test="lkcount == 1">
			lk_bno = 0
		</if> 
		
		<if test="lkcount == 0">
			lk_bno = lk_bno + 1 
		</if>
	</sql>
	
	<!-- 찜목록 -->


</mapper>