<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="productMapper">

	<!-- 굿즈 등록 -->
	<insert id="insert">
		INSERT INTO sae_product(
		pd_bno,
		pd_type,
		pd_name,
		pd_content,
		pd_file,
		pd_price,
		pd_stock,
		pd_readcount,
		pd_buycount
		)
		VALUES(
		sae_product_seq.nextval,
		#{pd_type},
		#{pd_name},
		#{pd_content},
		#{pd_file},
		#{pd_price},
		#{pd_stock},
		#{pd_readcount},
		#{pd_buycount}
		)
		
	</insert>

	<!-- 굿즈 리스트 -->
	<select id="goodslist" resultType="productVO"
		parameterType="com.kh.saeha.vo.SearchCriteria">
		SELECT pd_bno,
		pd_type,
		pd_name,
		pd_file,
		pd_price,
		pd_stock,
		pd_date,
		pd_readcount
		FROM (
		SELECT
		pd_bno,
		pd_type,
		pd_name,
		pd_file,
		pd_price,
		pd_stock,
		pd_date,
		pd_readcount,
		ROW_NUMBER()
		OVER(ORDER BY pd_bno DESC)
		AS RNUM
		FROM
		sae_product
		WHERE 1=1
		and
		pd_type = 'g'
		<include refid="search"></include>
		)
		WHERE
		pd_type = 'g'
		AND (RNUM BETWEEN #{rowStart} AND #{rowEnd})
		ORDER BY pd_bno DESC
	</select>
	
	
	<!-- pd_bno 얻기 -->
	<select id="maxbno" resultType="int">
		select max(pd_bno) from sae_product
	</select>
	
	<!-- 한복 리스트 -->
	<select id="hanboklist" resultType="productVO"
		parameterType="com.kh.saeha.vo.SearchCriteria">
		SELECT pd_bno,
		pd_type,
		pd_name,
		pd_file,
		pd_price,
		pd_stock,
		pd_date,
		pd_readcount
		FROM (
		SELECT
		pd_bno,
		pd_type,
		pd_name,
		pd_file,
		pd_price,
		pd_stock,
		pd_date,
		pd_readcount,
		ROW_NUMBER()
		OVER(ORDER BY pd_bno DESC)
		AS RNUM
		FROM
		sae_product
		WHERE 1=1
		and
		pd_type = 'h'
		<include refid="search"></include>
		)
		WHERE
		pd_type = 'h'
		AND (RNUM BETWEEN #{rowStart} AND #{rowEnd})
		ORDER BY pd_bno DESC
	</select>

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'pn'.toString()">AND pd_name LIKE '%' || #{keyword} || '%'</if>
		</if>
	</sql>

	<!-- 굿즈 카운트 -->
	<select id="glistCount"
		parameterType="com.kh.saeha.vo.SearchCriteria" resultType="int">
		SELECT COUNT(pd_bno)
		FROM sae_product
		WHERE 1=1
		AND pd_type = 'g'
		<include refid="search"></include>
		AND pd_bno > 0
	</select>

	<!-- 한복 카운트 -->
	<select id="hlistCount"
		parameterType="com.kh.saeha.vo.SearchCriteria" resultType="int">
		SELECT COUNT(pd_bno)
		FROM sae_product
		WHERE 1=1
		AND pd_type = 'h'
		<include refid="search"></include>
		and pd_bno > 0
	</select>

	<!-- 상품 상세보기 -->
	<select id="read" resultType="productVO">
		SELECT pd_bno
		, pd_type
		, pd_name
		,
		pd_content
		, pd_file
		, pd_price
		, pd_stock
		, pd_date
		FROM sae_product
		WHERE
		pd_bno =
		#{pd_bno}
	</select>

	<!-- 상품 조회수 -->
	<select id="readCount" resultType="productVO">
		update sae_product
		set
		pd_readcount = pd_readcount + 1
		where
		pd_bno = #{pd_bno}
	</select>

	<!-- 상품 삭제 -->
	<delete id="delete">
		DELETE
		FROM sae_product
		WHERE pd_bno = #{pd_bno}
	</delete>
	
	<!-- 상품 수정 -->
	<update id="update" parameterType="productVO">
		UPDATE sae_product
		SET
		pd_name = #{pd_name},
		pd_content = #{pd_content},
		pd_price = #{pd_price},
		pd_file = #{pd_file},
		pd_stock = #{pd_stock}
		WHERE pd_bno = #{pd_bno}
	</update>
	
	<!-- 파일 경로 저장 -->
	<insert id="fileSave" parameterType="java.util.Map">
		insert into
		sae_img(ino, itotal , ipath , bno)
		values(SEQ_IMG.nextval, #{ino},#{ipath},#{bno})
	</insert>
	
	<!-- 이미지 삭제 -->
	<delete id="idelete">
		DELETE
		FROM sae_img
		WHERE bno = #{pd_bno}
	</delete>
	
	<!-- pd_bno에 해당하는 filepath 가져옴 -->
	<select id="getimg" parameterType="int" resultType="String">
		select ipath from
		(select ino, ipath, bno from sae_img where bno = #{pd_bno} order by ino)
		where rownum = 1
	</select>
	
	<!-- 게시물 사진 정보 가져오기 -->
	<select id="imglist" parameterType="int" resultType="imgVO">
		select * from sae_img where bno = #{pd_bno} order by itotal
	</select>

</mapper>