<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!-- 마이바티스의 작동 규칙 정의 -->
<settings>
<setting name="cacheEnabled" value="false"/>
<setting name="useGeneratedKeys" value="true"/>
<setting name="mapUnderscoreToCamelCase" value="false"/>
</settings>

<typeAliases>
 <typeAlias type="com.kh.saeha.vo.MemberVO" alias="memberVO"/>
 <typeAlias type="com.kh.saeha.vo.ProductVO" alias="productVO"/>
 <typeAlias type="com.kh.saeha.vo.ImgVO" alias="imgVO"/>
 <typeAlias type="com.kh.saeha.vo.BuyVO" alias="buyVO"/>
 <typeAlias type="com.kh.saeha.vo.GoodsBoardVO" alias="GoodsBoardVO"/>
 <typeAlias type="com.kh.saeha.vo.BoardnVO" alias="boardnVO"/>
 <typeAlias type="com.kh.saeha.vo.ProgramVO" alias="programVO"/>
 <typeAlias type="com.kh.saeha.vo.BookVO" alias="bookVO"/>
 <typeAlias type="com.kh.saeha.vo.LikeVO" alias="likeVO"/>
 <typeAlias type="com.kh.saeha.vo.LikelistVO" alias="likelistVO"/>
 <typeAlias type="com.kh.saeha.vo.GoodsBoardReplyVO" alias="GoodsBoardReplyVO"/> 
  <typeAlias type="com.kh.saeha.vo.FaqVO" alias="faqVO"/>
 <typeAlias type="com.kh.saeha.vo.TicketVO" alias="ticketVO"/>
 <typeAlias type="com.kh.saeha.vo.TicketBuyVO" alias="ticketBuyVO"/>
 <typeAlias type="com.kh.saeha.vo.CouponVO" alias="CouponVO"/>
  <typeAlias type="com.kh.saeha.vo.CartVO" alias="CartVO"/>
  <typeAlias type="com.kh.saeha.vo.BuyVO" alias="BuyVO"/>
  <typeAlias type="com.kh.saeha.vo.GoodsBoardImgVO" alias="GoodsBoardImgVO"/>
  <typeAlias type="com.kh.saeha.vo.EventVO" alias="EventVO"/>
  
</typeAliases>

</configuration>